<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">JobFinder</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto m-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><span class="bi bi-house me-1"></span>Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/jobs">
            <i class="bi bi-card-list me-1"></i>Jobs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/candidates"
          >
            <i class="bi bi-people me-1"></i>Candidates</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/companies"
          >
            <i class="bi bi-building me-1"></i>Companies</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about">
            <i class="bi bi-chat-right-dots me-1"></i>About Us</a
          >
        </li>
      </ul>
      <form class="d-flex" *ngIf="!isAuthenticated()">
        <button
          type="button"
          class="btn btn-primary me-md-2"
          routerLink="login"
        >
          <i class="bi bi-box-arrow-in-right me-1"></i>
          Login
        </button>
        <button type="button" class="btn btn-primary" routerLink="register">
          <i class="bi bi-person-plus-fill me-1"></i>
          Register
        </button>
      </form>

      <form class="d-flex" *ngIf="isAuthenticated()">
        <div class="dropdown me-2">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Profile
          </button>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="dropdownMenuButton2"
          >
            <li>
              <a class="dropdown-item" routerLink="account">Account</a>
            </li>
            <li><a class="dropdown-item" href="#">Messages</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
        <button
          type="button"
          class="btn btn-primary me-md-2"
          routerLink=""
          (click)="logout()"
        >
          <i class="bi bi-box-arrow-left me-1"></i>
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>
