<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">JobFinder</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto m-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><span class="bi bi-house me-1"></span>Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/jobs">
            <i class="bi bi-card-list me-1"></i>Jobs</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">
            <i class="bi bi-people me-1"></i>Candidates</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">
            <i class="bi bi-building me-1"></i>Employers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about">
            <i class="bi bi-chat-right-dots me-1"></i>About Us</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button
          type="button"
          class="btn btn-primary me-md-2"
          routerLink="login"
        >
          Login
        </button>
        <button type="button" class="btn btn-primary" routerLink="register">
          Register
        </button>
      </form>
    </div>
  </div>
</nav>
