<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-white">2021 RockHouse Studio ©</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-white"><i class="bi bi-twitter"></i></a>
      </li>
      <li class="ms-3">
        <a class="text-white"><i class="bi bi-instagram"></i></a>
      </li>
      <li class="ms-3">
        <a class="text-white"><i class="bi bi-facebook"></i></a>
      </li>
    </ul>
  </div>
</nav>
