<div class="row mt-5">
  <div class="col-3">
    <app-category></app-category>
  </div>
  <div class="col-9">
    <div class="row">
      <div
        *ngFor="let jobAdvertisement of jobAdvertisements"
        class="card rounded-6 shadow mb-5 mx-2"
        style="width: 19rem"
      >
        <div class="card-body">
          <h5 class="card-title">
            {{ jobAdvertisement.jobTitle }}
          </h5>
          <h6 class="card-subtitle text-muted mb-2">
            Company : {{ jobAdvertisement.companyName }}
          </h6>
          <h6 class="card-subtitle text-muted">
            City : {{ jobAdvertisement.cityName }}
          </h6>
          <h6 class="card-subtitle mt-2 mb-2">
            Open Positions :
            {{ jobAdvertisement.numberOfOpenPosition }}
          </h6>
          <h6 class="card-subtitle mt-2 mb-2">
            Deadline :
            {{ jobAdvertisement.applicationDeadline | date: "dd/MM/yyyy" }}
          </h6>
          <h6 class="card-subtitle mt-2 mb-2 text-muted">
            Min Salary : {{ jobAdvertisement.minSalary | currency: "EUR" }}
          </h6>
          <h6 class="card-subtitle mt-2 mb-2 text-muted">
            Max Salary : {{ jobAdvertisement.maxSalary | currency: "EUR" }}
          </h6>
          <div class="row">
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-primary"
                routerLink="jobs/jobId/detail"
              >
                Details
              </button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-success">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
