<div class="row">
  <div
    *ngFor="let jobAdvertisement of jobAdvertisements"
    class="card bg-dark text-white m-auto mb-5"
    style="width: 19rem"
  >
    <div class="card-body">
      <h5 class="card-title">{{ jobAdvertisement.jobTitle }}</h5>
      <h6 class="card-subtitle text-muted">
        Company : {{ jobAdvertisement.companyName }}
      </h6>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel ex.
      </p>
      <div class="row">
        <div class="col-auto">
          <button type="button" class="btn btn-primary">Details</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-success">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
