<form
  [formGroup]="jobSeekerRegisterForm"
  (ngSubmit)="jobSeekerRegister()"
  #localForm="ngForm"
  class="shadow p-3 mb-5 bg-body rounded border border-1 border-top-0"
>
  <div class="d-flex flex-row align-items-center mb-4">
    <div class="form-outline flex-fill mb-0">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control rounded-4"
          formControlName="firstName"
          placeholder="First Name"
          [class.is-invalid]="
            localForm.submitted &&
            jobSeekerRegisterForm.get('firstName')?.invalid
          "
        />
        <label for="floatingInput">First Name</label>
        <div
          *ngIf="jobSeekerRegisterForm.controls['firstName'].errors?.required"
          class="invalid-feedback"
        >
          First Name is required
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <div class="form-outline flex-fill mb-0">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control rounded-4"
          formControlName="lastName"
          placeholder="Last Name"
          [class.is-invalid]="
            localForm.submitted &&
            jobSeekerRegisterForm.get('lastName')?.invalid
          "
        />
        <label for="floatingInput">Last Name</label>
        <div
          *ngIf="jobSeekerRegisterForm.controls['lastName'].errors?.required"
          class="invalid-feedback"
        >
          Last Name is required
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <div class="form-outline flex-fill mb-0">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control rounded-4"
          formControlName="email"
          placeholder="Email"
          [class.is-invalid]="
            localForm.submitted && jobSeekerRegisterForm.get('email')?.invalid
          "
        />
        <label for="floatingInput">Email address</label>
        <div
          *ngIf="jobSeekerRegisterForm.controls['email'].errors?.required"
          class="invalid-feedback"
        >
          Email is required
        </div>
        <div
          *ngIf="jobSeekerRegisterForm.controls['email'].errors?.email"
          class="invalid-feedback"
        >
          Invalid email
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <div class="form-outline flex-fill mb-0">
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control rounded-4"
          formControlName="password"
          placeholder="Password"
          [class.is-invalid]="
            localForm.submitted &&
            jobSeekerRegisterForm.get('password')?.invalid
          "
        />
        <label for="floatingInput">Password</label>
        <div
          *ngIf="jobSeekerRegisterForm.controls['password'].errors?.required"
          class="invalid-feedback"
        >
          Password is required
        </div>
        <div
          *ngIf="jobSeekerRegisterForm.controls['password'].errors?.minlength"
          class="invalid-feedback"
        >
          Password must be minimum 6 characters
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <div class="form-outline flex-fill mb-0">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control rounded-4"
          name="nationalId"
          formControlName="nationalId"
          placeholder="National Id"
          [class.is-invalid]="
            localForm.submitted &&
            jobSeekerRegisterForm.get('nationalId')?.invalid
          "
        />
        <label for="floatingInput">National Id</label>
        <div
          *ngIf="jobSeekerRegisterForm.controls['nationalId'].errors?.required"
          class="invalid-feedback"
        >
          National-ID is required
        </div>
        <div
          *ngIf="
            jobSeekerRegisterForm.controls['nationalId'].errors?.minlength ||
            jobSeekerRegisterForm.controls['nationalId'].errors?.maxlength
          "
          class="invalid-feedback"
        >
          National-ID must be 11 characters
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <div class="form-outline flex-fill mb-0">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control rounded-4"
          formControlName="dateOfBirth"
          placeholder="Year of Birth"
          [class.is-invalid]="
            localForm.submitted &&
            jobSeekerRegisterForm.get('dateOfBirth')?.invalid
          "
        />
        <label for="floatingInput">Year of Birth</label>
        <div
          *ngIf="jobSeekerRegisterForm.controls['dateOfBirth'].errors?.required"
          class="invalid-feedback"
        >
          Year of Birth is required
        </div>
        <div
          *ngIf="
            jobSeekerRegisterForm.controls['dateOfBirth'].errors?.minlength ||
            jobSeekerRegisterForm.controls['dateOfBirth'].errors?.maxlength
          "
          class="invalid-feedback"
        >
          Year of Birth must be 4 characters
        </div>
      </div>
    </div>
  </div>
  <div class="form-check d-flex justify-content-center mb-5">
    <input
      class="form-check-input me-2"
      type="checkbox"
      formControlName="termsOfService"
      [class.is-invalid]="
        localForm.submitted &&
        jobSeekerRegisterForm.get('termsOfService')?.invalid
      "
    />
    <label
      class="form-check-label"
      for="form2Example3"
      *ngIf="
        jobSeekerRegisterForm.controls['termsOfService'].errors?.required;
        else elseBlock
      "
    >
      I agree all statements in
      <a routerLink="/termsofservice">Terms of service</a>
    </label>
    <ng-template #elseBlock class="text-danger"
      >I agree all statements in
      <a routerLink="/termsofservice">Terms of service</a></ng-template
    >
  </div>

  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <button
      type="submit"
      class="btn btn-primary btn-lg"
      (click)="jobSeekerRegister()"
    >
      Register
    </button>
  </div>
</form>
